@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.2s ease;
  padding: 3px 4px;
  border-radius: 6px;
}

@media (hover: hover) {
  a:hover {
    background-color: color-mix(in oklab, var(--color-accent) 12%, white);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
